<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supermy.rest.service.ContactMapper">
	<!-- 缓存策略： LRU - 最近最少使用法：移出最近较长周期内都没有被使用的对象。 FIFI- 先进先出：移出队列里较早的对象 SOFT 
		- 软引用：基于软引用规则，使用垃圾回收机制来移出对象 WEAK - 弱引用：基于弱引用规则，使用垃圾回收机制来强制性地移出对象 -->
	<!-- 创建一个FIFO 缓存让60 秒就清空一次，存储512 个对象结果或列表引用，并且返回的结果是只读。 -->
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true">
	</cache>
	<select id="findByName" parameterType="string" resultType="Contact">
		SELECT name
		FROM CONTACT c
		WHERE c.NAME like #{username}
  </select>

	<select id="getContact" parameterType="string" resultType="Contact">
		SELECT *
		FROM CONTACT
		WHERE PKID = #{id}
  </select>

	<insert id="addContact" parameterType="Contact"
		useGeneratedKeys="true" keyProperty="pkId">
		INSERT INTO Contact (createBy,
		createDate, enabled, updateBy,
		updateDate,
		birthDate,email,name,phone)
		VALUES(#{createBy}, #{createDate}, #{enabled}, #{updateBy},
		#{updateDate},
		#{birthDate},#{email},#{name},#{phone})
  </insert>

	<update id="updateContact" parameterType="Contact">
		UPDATE Contact SET
		updateBy = #{updateBy},
		updateDate = #{updateDate},
		enabled =
		#{enabled},
		birthDate = #{birthDate},
		name = #{name},
		phone = #{phone},
		email = #{email}
		WHERE pkid = #{pkId}
  </update>

	<select id="delContact" parameterType="long">
		DELETE FROM CONTACT WHERE
		PKID = #{id}
  </select>

	<select id="delContacts">
		DELETE FROM CONTACT WHERE PKID in
		<foreach collection="array" item="ids" open="(" separator=","
			close=")">
			#{ids}   
	     </foreach>
		<!-- 	     
	     <foreach collection="list" item="classIdList"  open="(" separator="," close=")">   
	        #{classIdList}   
	     </foreach>
	      -->   	     
	</select>

</mapper>